<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
						http://www.springframework.org/schema/context
						http://www.springframework.org/schema/context/spring-context-2.5.xsd
						http://www.springframework.org/schema/mvc
						http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd"
						>
	
	
	<context:component-scan base-package="com.sourabh.controller"/>
	
	<mvc:annotation-driven/>
	
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/admissionform.html"/><!--For mapping a particular url with interceptor  -->
			<bean class="com.sourabh.interceptor.DayOfWeekBasedAccessInterceptor"/>
		</mvc:interceptor>
		
		<bean class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor">
			<property name="paramName" value="siteLanguage"></property>
		</bean>
	</mvc:interceptors>
	<!-- this tag will help spring mvc to read the interceptor java file -->
	
	
 <bean id="viewResolver"
    	class="org.springframework.web.servlet.view.InternalResourceViewResolver" >
        <property name="prefix">
            <value>/WEB-INF/</value>
        </property>
        <property name="suffix">
            <value>.jsp</value>
        </property>
    </bean>
  <bean id="messageSource"
        class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
  
  	<property name="basename" value="/WEB-INF/studentmessages"></property>   
  	<!-- <property name="cacheSeconds" value="1"></property> -->
  	<!-- It will reload a property file after every 1 second automatically
  				after making changes  
  				only use when it is needed necessarily --> 
  </bean>
<bean id="localeResolver" class="org.springframework.web.servlet.i18n.CookieLocaleResolver"/>
</beans>